<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<p>
Dears,<br />
An abstract has been submitted successfully to Conference.<br />
kindly login to the system in the administration section to view it.<br />
Abstract No. : ##ABSTRACTNUMBER##<br /><br />
Topic : ##TOPIC##<br /><br />
Title : ##TITLE##<br /><br />
For more information, please login to the system.<br />
Thank you.<br />
</p>
</body>
</html>
