<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Confirmation of abstract receipt By SSN</title>
</head>
<body>
<p>
<strong>Abstract Review Assignment</strong><br />
Dear  ##NAME##,<br />
You have been selected to review the below abstract in the Fifth Annual Conference of the Saudi Society of Nephrology and Transplantation.<br />
Please login to the system to place your review.<br />
<table cellpadding="5" cellspacing="5">
    <tr>
        <td>Abstract No. :</td>
        <td>##ABSTRACTNUMBER##</td>
    </tr>
    <tr>
        <td>Category :</td>
        <td>##CATEGORY##</td>
    </tr>
    <tr>
        <td>Title :</td>
        <td>##TITLE##</td>
    </tr>
    <tr>
        <td>Authors :</td>
        <td>##AUTHORS##</td>
    </tr>
</table>
 <br /><br />

Kindly keep in mind that the presenting author is responsible for all correspondence regarding
the submitted abstract. The information regarding acceptance and scheduling will be sent to the
presenting and corresponding author via e-mail after reviewing all abstracts by the Scientific
Committee.<br />
We would like to thank you for taking time to review the abstract.<br />
For more information, please contact us via email (info@ssn-sa.com).<br />
Thank you.<br />
</p>
Abstract Committee <br />
</body>
</html>
