<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<table width="100%" border="0" cellspacing="5" cellpadding="5" class="formz">

                <tr>
    <td width="18%" align="right"><label>First Name</label>  </td>
    <td width="82%" align="left"><input name="textfield" type="text" class="newform-txt" id="text1" size="30" />   <input type="button" name="close" id="close" value="Remove Co Author" onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode.parentNode.parentNode);" class="newform-close fixright" /><br /> </td>
  </tr>
  <tr>
    <td align="right"><label>Family Name</label></td>
    <td align="left"><input name="textfield2" type="text" class="newform-txt" id="text2" size="30" />
      <br /></td>
  </tr>
  <tr>
    <td align="right"><label>Title</label></td>
    <td align="left"><input name="textfield2" type="text" class="newform-txt" id="text3" size="30" />
      <br /></td>
  </tr>
  <tr>
    <td align="right"><label>Degree</label></td>
    <td align="left"><input name="textfield2" type="text" class="newform-txt" id="text4" size="30" />
      <br /></td>
  </tr>
  <tr>
    <td align="right"><label>Email</label></td>
    <td align="left"><input name="textfield2" type="text" class="newform-txt" id="text5" size="30" />
      <br /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td> <p>Filed Error System</p></td>
  </tr>
  <tr>
    <td align="right"><label>Address</label></td>
    <td align="left"><input name="textfield3" type="text" class="newform-txt" id="text6" size="60" />
      <br /></td>
  </tr>
  <tr>
    <td align="right"><label>Phone number</label></td>
    <td align="left"><input name="textfield3" type="text" class="newform-txt" id="text7" size="4" />
      <input name="textfield4" type="text" class="newform-txt" id="text8" size="22" />
      <br /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><p>Area code + Phone Number</p></td>
  </tr>
  <tr>
    <td align="right"><label>Affliation</label></td>
    <td align="left"><input name="textfield5" type="text" class="newform-txt" id="text9" size="30" />
      <br /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input name="textfield6" type="text" class="newform-txt" id="text10" size="30" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input name="textfield7" type="text" class="newform-txt" id="text11" size="30" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input name="textfield8" type="text" class="newform-txt" id="text12" size="30" /></td>
  </tr>
</table>
</body>
</html>
