
.dxHtmlEditor_Icons_heCut_Office2010Blue,
.dxHtmlEditor_Icons_heCutDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCopy_Office2010Blue,
.dxHtmlEditor_Icons_heCopyDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePaste_Office2010Blue,
.dxHtmlEditor_Icons_hePasteDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePasteFromWord_Office2010Blue,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heUndo_Office2010Blue,
.dxHtmlEditor_Icons_heUndoDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heRedo_Office2010Blue,
.dxHtmlEditor_Icons_heRedoDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heBold_Office2010Blue,
.dxHtmlEditor_Icons_heBoldDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heItalic_Office2010Blue,
.dxHtmlEditor_Icons_heItalicDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heUnderline_Office2010Blue,
.dxHtmlEditor_Icons_heUnderlineDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heStrikethrough_Office2010Blue,
.dxHtmlEditor_Icons_heStrikethroughDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCenter_Office2010Blue,
.dxHtmlEditor_Icons_heCenterDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heLeft_Office2010Blue,
.dxHtmlEditor_Icons_heLeftDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heRight_Office2010Blue,
.dxHtmlEditor_Icons_heRightDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heJustifyFull_Office2010Blue,
.dxHtmlEditor_Icons_heJustifyFullDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSuperscript_Office2010Blue,
.dxHtmlEditor_Icons_heSuperscriptDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSubscript_Office2010Blue,
.dxHtmlEditor_Icons_heSubscriptDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heIndent_Office2010Blue,
.dxHtmlEditor_Icons_heIndentDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heOutdent_Office2010Blue,
.dxHtmlEditor_Icons_heOutdentDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertOrderedList_Office2010Blue,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertUnorderedList_Office2010Blue,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertImageDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertLinkDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableCellDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableRowDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowAbove_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowBelow_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellVertical_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellVertical_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTable_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableColumn_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableRow_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heUnlink_Office2010Blue,
.dxHtmlEditor_Icons_heUnlinkDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heBackColor_Office2010Blue,
.dxHtmlEditor_Icons_heBackColorDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heForeColor_Office2010Blue,
.dxHtmlEditor_Icons_heForeColorDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heRemoveFormat_Office2010Blue,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePrint_Office2010Blue,
.dxHtmlEditor_Icons_hePrintDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCheckSpelling_Office2010Blue,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heFullscreen_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsDocx_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsMht_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsOdt_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsPdf_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsRtf_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsTxt_Office2010Blue,
.dxHtmlEditor_heToolbarPopOut_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsBottom_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsTop_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsBottomRtl_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsTopRtl_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Blue,
.dxHtmlEditor_heSizeGrip_Office2010Blue,
.dxHtmlEditor_heSizeGripRtl_Office2010Blue,
.dxHtmlEditor_heErrorFrameCloseButton_Office2010Blue
 {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsBottom_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsTop_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Blue
{
	display:block;
}

.dxHtmlEditor_Icons_heCut_Office2010Blue {
    background-position: -48px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCutDisabled_Office2010Blue {
    background-position: -72px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopy_Office2010Blue {
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopyDisabled_Office2010Blue {
    background-position: -24px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePaste_Office2010Blue {
    background-position: -96px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteDisabled_Office2010Blue {
    background-position: -120px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWord_Office2010Blue {
    background-position: -144px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWordDisabled_Office2010Blue {
    background-position: -168px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndo_Office2010Blue {
    background-position: -96px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndoDisabled_Office2010Blue {
    background-position: -120px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedo_Office2010Blue {
    background-position: -48px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedoDisabled_Office2010Blue {
    background-position: -72px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBold_Office2010Blue {
    background-position: -48px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBoldDisabled_Office2010Blue {
    background-position: -72px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalic_Office2010Blue {
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalicDisabled_Office2010Blue {
    background-position: -24px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderline_Office2010Blue {
    background-position: -48px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderlineDisabled_Office2010Blue {
    background-position: -72px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethrough_Office2010Blue {
    background-position: -96px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethroughDisabled_Office2010Blue {
    background-position: -120px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenter_Office2010Blue {
    background-position: -96px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenterDisabled_Office2010Blue {
    background-position: -120px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeft_Office2010Blue {
    background-position: -96px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeftDisabled_Office2010Blue {
    background-position: -120px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRight_Office2010Blue {
    background-position: -144px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRightDisabled_Office2010Blue {
    background-position: -168px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFull_Office2010Blue {
    background-position: -48px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFullDisabled_Office2010Blue {
    background-position: -72px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscript_Office2010Blue {
    background-position: 0px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscriptDisabled_Office2010Blue {
    background-position: -24px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscript_Office2010Blue {
    background-position: -144px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscriptDisabled_Office2010Blue {
    background-position: -168px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndent_Office2010Blue {
    background-position: -96px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndentDisabled_Office2010Blue {
    background-position: -120px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdent_Office2010Blue {
    background-position: -48px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdentDisabled_Office2010Blue {
    background-position: -72px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedList_Office2010Blue {
    background-position: -48px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Office2010Blue {
    background-position: -72px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedList_Office2010Blue {
    background-position: -144px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Office2010Blue {
    background-position: -168px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialog_Office2010Blue {
    background-position: -144px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Office2010Blue {
    background-position: -168px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialog_Office2010Blue {
    background-position: 0px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Office2010Blue {
    background-position: -24px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialog_Office2010Blue {
    background-position: 0px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Office2010Blue {
    background-position: -24px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialog_Office2010Blue {
    background-position: -48px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Office2010Blue {
    background-position: -72px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialog_Office2010Blue {
    background-position: -144px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Office2010Blue {
    background-position: -168px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialog_Office2010Blue {
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Office2010Blue {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialog_Office2010Blue {
    background-position: -96px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Office2010Blue {
    background-position: -120px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAbove_Office2010Blue {
    background-position: -48px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Office2010Blue {
    background-position: -72px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelow_Office2010Blue {
    background-position: -96px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Office2010Blue {
    background-position: -120px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Office2010Blue {
    background-position: -96px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Office2010Blue {
    background-position: -120px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Office2010Blue {
    background-position: -144px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Office2010Blue {
    background-position: -168px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Office2010Blue {
    background-position: 0px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Office2010Blue {
    background-position: -24px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVertical_Office2010Blue {
    background-position: -48px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Office2010Blue {
    background-position: -72px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Office2010Blue {
    background-position: -144px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Office2010Blue {
    background-position: -168px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVertical_Office2010Blue {
    background-position: 0px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Office2010Blue {
    background-position: -24px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTable_Office2010Blue {
    background-position: -96px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableDisabled_Office2010Blue {
    background-position: -120px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumn_Office2010Blue {
    background-position: -144px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Office2010Blue {
    background-position: -168px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRow_Office2010Blue {
    background-position: 0px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Office2010Blue {
    background-position: -24px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlink_Office2010Blue {
    background-position: -144px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlinkDisabled_Office2010Blue {
    background-position: -168px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBackColor_Office2010Blue {
    background-position: 0px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heBackColorDisabled_Office2010Blue {
    background-position: -24px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColor_Office2010Blue {
    background-position: -48px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColorDisabled_Office2010Blue {
    background-position: -72px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heRemoveFormat_Office2010Blue {
    background-position: -96px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRemoveFormatDisabled_Office2010Blue {
    background-position: -120px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrint_Office2010Blue {
    background-position: 0px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrintDisabled_Office2010Blue {
    background-position: -24px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpelling_Office2010Blue {
    background-position: -144px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpellingDisabled_Office2010Blue {
    background-position: -168px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heFullscreen_Office2010Blue 
{
    background-position: -24px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsDocx_Office2010Blue
{
    background-position: -48px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsMht_Office2010Blue
{
    background-position: -72px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsOdt_Office2010Blue
{
    background-position: -96px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsPdf_Office2010Blue
{
    background-position: -120px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsRtf_Office2010Blue
{
    background-position: -144px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsTxt_Office2010Blue
{
    background-position: -168px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_heToolbarPopOut_Office2010Blue {
    background-position: -135px 0px;
    width: 7px;
    height: 4px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Blue {
    background-position: -19px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Blue {
    background-position: 0px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottom_Office2010Blue {
    background-position: -38px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTop_Office2010Blue {
    background-position: -38px -14px;
    width: 11px;
    height: 5px;
}


.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Office2010Blue {
    background-position: -162px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Office2010Blue {
    background-position: -181px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottomRtl_Office2010Blue {
    background-position: -143px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTopRtl_Office2010Blue {
    background-position: -143px -14px;
    width: 11px;
    height: 5px;
}


.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Blue {
    background-position: -109px 0px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Blue {
    background-position: -122px 0px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Blue {
    background-position: -57px -13px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Blue {
    background-position: -70px -13px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Blue {
    background-position: -57px 0px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Blue {
    background-position: -70px 0px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Blue {
    background-position: -83px -13px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Blue {
    background-position: -96px -13px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Blue {
    background-position: -83px 0px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Blue {
    background-position: -96px 0px;
    width: 3px;
    height: 3px;
}

.dxHtmlEditor_heSizeGrip_Office2010Blue {
    background-position: 0px -290px;
    width: 13px;
    height: 13px;
}
.dxHtmlEditor_heSizeGripRtl_Office2010Blue {
    background-position: 0px -314px;
    width: 13px;
    height: 13px;
}
.dxHtmlEditor_heErrorFrameCloseButton_Office2010Blue {
    background-position: -109px -7px;
    width: 13px;
    height: 9px;
}

/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Office2010Blue
{
    background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_Office2010Blue
{
    font: 8pt Verdana;
    color: #1e395b;
}
.dxheLoadingPanel_Office2010Blue td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}

.dxheControl_Office2010Blue
{
    border: 1px solid #8ba0bc;
}

/* Area */
.dxheContentArea_Office2010Blue
{
    padding: 0;
    background-color: #cfddee;
}
.dxheContentArea_Office2010Blue .dxheErrorFrame_Office2010Blue
{
    font-size: 8pt;
    font-family: Verdana;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheContentArea_Office2010Blue .dxheErrorFrame_Office2010Blue .dxhe {
    padding: 5px;
}
.dxheContentArea_Office2010Blue .dxheErrorFrame_Office2010Blue .dxhe td {
    padding: 0px;
}
.dxheContentArea_Office2010Blue .dxheErrorFrame_Office2010Blue .dxheErrorFrameCloseButton_Office2010Blue {
    cursor: pointer;
}
.dxheControl_Office2010Blue .dxheViewArea_Office2010Blue
{
    border-width: 0;
}
.dxheHtmlViewArea_Office2010Blue,
.dxheDesignViewArea_Office2010Blue,
.dxhePreviewArea_Office2010Blue
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: normal 12px Arial;
}
.dxheHtmlViewArea_Office2010Blue td,
.dxheHtmlViewArea_Office2010Blue.dxeMemo_Office2010Blue td,
body.dxheDesignViewArea_Office2010Blue, 
body.dxhePreviewArea_Office2010Blue
{
    padding: 4px 0 0 4px;
}
.dxheControl_Office2010Blue.dxhe-rtl .dxheHtmlViewArea_Office2010Blue td,
.dxheControl_Office2010Blue.dxhe-rtl .dxheHtmlViewArea_Office2010Blue.dxeMemo_Office2010Blue td,
body.dxheDesignViewArea_Office2010Blue.dxhe-rtl, 
body.dxhePreviewArea_Office2010Blue.dxhe-rtl
{
    padding: 4px 4px 0 0;
}
.dxheControl_Office2010Blue .dxeMemo_Office2010Blue textarea 
{
	resize:none;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Office2010Blue table.dxEmptyBorderTable,
body.dxheDesignViewArea_Office2010Blue table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
	body.dxheDesignViewArea_Office2010Blue table.dxEmptyBorderTable,
	body.dxheDesignViewArea_Office2010Blue table.dxEmptyBorderTable td
	{
		border:0px;
	}
}

/* Status Bar */
.dxheStatusBar_Office2010Blue
{
}
.dxheStatusBar_Office2010Blue .dxheStatusBarTab_Office2010Blue
{
    padding-left: 34px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom-width: 0;
    border-left-width: 0;
}
.dxheControl_Office2010Blue.dxhe-rtl .dxheStatusBar_Office2010Blue .dxheStatusBarTab_Office2010Blue
{
    border-left-width: 1px;
    border-right-width: 0;
}
.dxheStatusBarActiveTab_Office2010Blue
{
}
.dxHtmlEditor_heSizeGrip_Office2010Blue
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_Office2010Blue
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_Office2010Blue
{
    float: left;
    height: 0;
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_Office2010Blue.dxhe-rtl .dxheSizeGripContainer_Office2010Blue 
{
	text-align: left;
}
/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell,
#dxInsertLinkForm .buttonsCell,
#dxInsertImageForm .buttonsCell,
#dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell,
.dxheCustomDialog_Office2010Blue .dxhecd-Buttons
{
    background-color: #cfddee;
    border-top: 1px solid #aec0d5;
    padding: 11px;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: 1px solid #8ba0bc;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Office2010Blue
{
	height: 1px;
}
.dxtbControl_Office2010Blue
{
    font: 8pt Verdana;
    color: Black;
    background-color: #cfddee;
    width: 100%;
    border-bottom: 1px solid #859ebf;
}
.dxtbControl_Office2010Blue td.dxmMenu_Office2010Blue
{
	border: 0;
}
.dxtbComboBoxMenuItem_Office2010Blue
{
    padding: 2px 2px 1px;
}

/* Toolbars Lightweight Mode */
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-main
{
    border-width: 0;
}
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem
{
	border-width: 0;
	padding: 2px 2px 1px !important;
}
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxm-image-l .dxm-dropDownMode.dxtb-cb .dxm-content, 
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxm-image-r .dxm-dropDownMode.dxtb-cb .dxm-content
{
	padding-top: 3px;
	padding-bottom: 3px;
}
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content, 
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content
{
	padding-top: 4px;
	padding-bottom: 3px;
}
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content img,
.dxtbControl_Office2010Blue .dxmLite_Office2010Blue .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content img
{
	margin-top: -1px;
}
.dxmLite_Office2010Blue .dxhetipControl_Office2010Blue img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_Office2010Blue
{
}
.dxtcbColorDiv_Office2010Blue
{
	width: 16px;
	height: 3px;
	font-size: 0pt;
	background-color: Transparent;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_Office2010Blue .dxrpcontent
{
    padding: 9px 8px;
}

/* -- ASPxSpellChecker -- */
.dxwscLoadingDiv_Aqua
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxwscCheckedTextContainer_Aqua
{
	background-color: white;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	border: solid 1px #AECAF0;
	vertical-align:top;
	overflow:auto;
	width: 340px;	
	height: 110px;
	padding: 5px;	
}
.dxwscErrorWord_Aqua
{
	background: url('scErrorUnderline.gif') bottom;
	background-repeat:repeat-x;
	padding-bottom: 3px;
	font-weight: bold;
}

.dxwscLoadingPanel_Aqua
{
	font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxwscLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}

/*-- Dialog Forms --*/

.leftBottomButton {
	padding-top: 10px;
	padding-bottom: 10px;
}

.rightBottomButton 
{
	padding: 10px 15px 10px 10px;
	width: 100px;	
}

.footerBackground 
{
	background-color: #ECF4FE;
}

#dxMainSpellCheckFormTable 
{
	width: 480px;
}
#dxMainSpellCheckFormTable .contentSCFormContainer
{
	padding:15px 15px 0px 15px;
}

#dxSpellCheckForm .buttonsTable 
{
	width: 100px;
}

#dxSpellCheckForm .buttonTableContainer
{
	padding-left: 10px;
	padding-top: 5px;
}

#dxSpellCheckForm .checkedDivContainer 
{
	overflow: hidden;
	padding-top:5px;
}

#dxSpellCheckForm .changeToText
{
	padding-top: 15px;
}

#dxSpellCheckForm .verticalSeparator 
{
	padding-top: 5px;
}

#dxSpellCheckForm .listBoxContainer 
{
	padding-top:5px;
	padding-bottom:20px;
}

#dxMainSpellCheckOptionsFormTable 
{
	width: 400px;
}

#dxMainSpellCheckOptionsFormTable .contentSCOptionsFormContainer
{
	padding:15px 15px 0px 15px;
}


#dxOptionsForm .languagePanel 
{
	padding-top:10px;
	padding-bottom: 20px;
}